.caja-detalle{
    padding-left: 100px;
    padding-right: 100px;
}
.contenedor-reproductor{
    height: 600px;
}
.enlace-details{
    color: white;
    text-decoration: none;
}
.volver-atras{
    color: white;
    font-size: 18px;
    transition: all 0.15s;
}
.volver-atras:hover{
    color: slategray;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}


/* Tamaño máximo para dispositivos móviles */
@media (max-width: 576px) {
    /* Estilos para dispositivos móviles */
    .caja-detalle{
        padding-left: 10px;
        padding-right: 10px
    }

    .contenedor-reproductor{
        height: 210px;
    }
}